body{
	padding-top: 60px;
	font-size:16px;
}

a{
	text-decoration:none;
	-webkit-transition: 0.2s ease-in-out;
	   -moz-transition: 0.2s ease-in-out;
	    -ms-transition: 0.2s ease-in-out;
	     -o-transition: 0.2s ease-in-out;
	        transition: 0.2s ease-in-out;
}

.alignright{
	float:right;
}

// .bg{
// 	position:absolute;
// 	left:0;
// 	right:0;
// 	top:60px;
// 	bottom:0;
// 	z-index:-1;
// }

// .green{
// 	background-color:green;
// }

// .red{
// 	background-color:red;
// }

// .blue{
// 	background-color:blue;
// }

// .purple{
// 	background-color:purple;
// }

// .yellow{
// 	background-color: yellow;
// }

header{
	width:100%;
	height:60px;
	left:0;
	top:0;
	right:0;
	position: fixed;
	background: #fff;
	-webkit-transition: 0.4s ease-in-out;
	   -moz-transition: 0.4s ease-in-out;
	    -ms-transition: 0.4s ease-in-out;
	     -o-transition: 0.4s ease-in-out;
	        transition: 0.4s ease-in-out;
	.logo-wrap{
		float:left;
		position: relative;
	    top: 50%;
		-webkit-transform:  translateY(-50%);
		   -moz-transform:  translateY(-50%);
		    -ms-transform:  translateY(-50%);
		     -o-transform:  translateY(-50%);
		        transform:  translateY(-50%);
		a{
			padding:7px 15px;
			color:#000;
			font-size: 2em;
			display: inline-block;
		}
	}
	.menu{
		position: relative;
	    top: 50%;
		-webkit-transform:  translateY(-50%);
		   -moz-transform:  translateY(-50%);
		    -ms-transform:  translateY(-50%);
		     -o-transform:  translateY(-50%);
		        transform:  translateY(-50%);
		ul{
			padding-left:0;
			margin-top: 0;
			margin-bottom: 0;
			li{
				list-style:none;
				float:left;
				padding:7px 15px;
				a{
					color:green;
					&:hover{
						color:red;
					}
				}
			}
		}
	}
}

header.scrolled{
	height:40px;
	.logo-wrap{
		a{
			font-size: 1.6em;
		}
	}
	.menu{
		ul{
			li{
				font-size:0.8em;
			}
		}
	}
}


.page-enter {
  //opacity: 0.01;
  transform:translateX(100%);
  position: absolute;
}

.page-enter.page-enter-active {
  //opacity: 1;
  position: absolute;
  transform:translateX(0%);
  transition: 300ms ease-out;
}

.page-leave {
  //opacity: 1;
  position: absolute;
  transform:translateX(0%);
}

.page-leave.page-leave-active {
  //opacity: 0.01;
  transform:translateX(-100%);
  position: absolute;
  transition: 300ms ease-out;
}